<div class="bg-[url('<%= asset_path('fleurs1.jpg') %>')]">
</div>

<div style="background-image: url('<%= asset_path('fleurs1.jpg') %>');">
  <h2>salut</h2>
</div>
<div class="container mx-auto p-8 border-2 border-blue-800">
  <h1 class="text-2xl font-bold">Bienvenue sur mon site</h1>
  <p class="text-gray-700">Ceci est un exemple de projet utilisant Tailwind CSS, Ruby on Rails, et HTML.</p>
</div>


<div class="bg-cover bg-center border-2 border-red-500">
  <img src="<%= asset_path('fleurs1.jpg') %>" alt="img">
  <h1>coucou</h1>
</div>
