<!-- flex justify-center items-center border-2 border-none  -->
<div class="w-full bg-pink-500">
  <div class="flex mx-auto px-5 py-2 gap-4">
    <div class="justify-start items-center content-center">
      <p class="font-meow-script text-xl font-normal text-white">© 2025 Lilly Rose</p>
    </div>
    <div class="grow">
    </div>
    <div class="justify-end space-x-2 text-white">
      <i class="fa-brands fa-pinterest"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-tiktok"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
    </div>
  </div>
</div>

<!-- Back to Top Button -->
<div id="backToTop" class="fixed bottom-10 right-5 w-10 h-10 bg-pink-200 bg-opacity-50 text-pink-500 rounded-full flex items-center justify-center cursor-pointer hidden">
  <i class="fa-solid fa-chevron-up text-2xl"></i>
</div>
