
<div id="homeMenu" class="hidden absolute top-16 left-0 w-full bg-white shadow-md z-50">
  <ul class="py-2">
    <li>
      <a href="<%= root_path %>" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Accueil</a>
    </li>
    <li>
      <a href="<%= services_path %>" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Nos Services</a>
    </li>
    <li>
      <a href="<%= company_path %>" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Qui nous sommes</a>
    </li>
    <li>
      <a href="<%= contact_path %>" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Contact</a>
    </li>
  </ul>
</div>
