<%= render "shared/navbar1b" %>
<%= render "shared/homemenu" %>
<div class="pt-20 w-full h-screen bg-center bg-cover" style="background-image: url('<%= asset_path('bghome.jpg') %>');">
  <!-- TITRE HOME -->
  <div class="container mx-auto flex flex-col ps-10 items-start justify-center h-full text-none">
    <h1 class="font-meow-script text-5xl font-extrabold text-left">Bienvenue sur  le site de Lilly Rose</h1>
    <p>Vous faire plaisir avec des fleurs est notre passion.</p>
    <button class="bg-pink-500 hover:bg-pink-800 text-white font-bold py-2 px-4 rounded-full mt-5">
      Contactez-nous
    </button>
  </div>
  <!-- FOOTER -->
  <div class="flex justify-center items-center border-2 border-none w-full h-20 bg-pink-500">
    <p class="text-white">© 2021 Lilly Rose</p>
  </div>
</div>
