<!-- NAVBAR + MENU HOME -->
<%= render "shared/navbar1b" %>
<%= render "shared/homemenu" %>

<!-- PAGE -->
<div class="pt-20 w-full h-screen bg-center bg-cover" style="background-image: url('<%= asset_path('bghome.jpg') %>');">
  <div class="container mx-auto flex flex-col ps-10 items-start justify-center h-full text-none">
    <h1 class="font-meow-script text-5xl font-extrabold text-left">Bienvenue sur  le site de Lilly Rose</h1>
    <p>Vous faire plaisir avec des fleurs est notre passion.</p>
    <button class="bg-pink-500 hover:bg-pink-800 text-white font-bold py-2 px-4 rounded-full mt-5">
      Contactez-nous
    </button>
  </div>
</div>
<div>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi odio consequatur quidem quaerat fugiat dolorem, blanditiis, atque sit exercitationem, excepturi cumque laudantium omnis. Dolore excepturi quos, quisquam accusamus placeat illo magnam voluptas expedita a corporis dolorem ipsam facilis velit rem exercitationem commodi aperiam dignissimos odit. Vel, vitae necessitatibus? Modi, nobis?</p>
</div>
<div>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi odio consequatur quidem quaerat fugiat dolorem, blanditiis, atque sit exercitationem, excepturi cumque laudantium omnis. Dolore excepturi quos, quisquam accusamus placeat illo magnam voluptas expedita a corporis dolorem ipsam facilis velit rem exercitationem commodi aperiam dignissimos odit. Vel, vitae necessitatibus? Modi, nobis?</p>
</div><div>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi odio consequatur quidem quaerat fugiat dolorem, blanditiis, atque sit exercitationem, excepturi cumque laudantium omnis. Dolore excepturi quos, quisquam accusamus placeat illo magnam voluptas expedita a corporis dolorem ipsam facilis velit rem exercitationem commodi aperiam dignissimos odit. Vel, vitae necessitatibus? Modi, nobis?</p>
</div><div>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi odio consequatur quidem quaerat fugiat dolorem, blanditiis, atque sit exercitationem, excepturi cumque laudantium omnis. Dolore excepturi quos, quisquam accusamus placeat illo magnam voluptas expedita a corporis dolorem ipsam facilis velit rem exercitationem commodi aperiam dignissimos odit. Vel, vitae necessitatibus? Modi, nobis?</p>
</div><div>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi odio consequatur quidem quaerat fugiat dolorem, blanditiis, atque sit exercitationem, excepturi cumque laudantium omnis. Dolore excepturi quos, quisquam accusamus placeat illo magnam voluptas expedita a corporis dolorem ipsam facilis velit rem exercitationem commodi aperiam dignissimos odit. Vel, vitae necessitatibus? Modi, nobis?</p>
</div><div>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi odio consequatur quidem quaerat fugiat dolorem, blanditiis, atque sit exercitationem, excepturi cumque laudantium omnis. Dolore excepturi quos, quisquam accusamus placeat illo magnam voluptas expedita a corporis dolorem ipsam facilis velit rem exercitationem commodi aperiam dignissimos odit. Vel, vitae necessitatibus? Modi, nobis?</p>
</div><div>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi odio consequatur quidem quaerat fugiat dolorem, blanditiis, atque sit exercitationem, excepturi cumque laudantium omnis. Dolore excepturi quos, quisquam accusamus placeat illo magnam voluptas expedita a corporis dolorem ipsam facilis velit rem exercitationem commodi aperiam dignissimos odit. Vel, vitae necessitatibus? Modi, nobis?</p>
</div><div>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi odio consequatur quidem quaerat fugiat dolorem, blanditiis, atque sit exercitationem, excepturi cumque laudantium omnis. Dolore excepturi quos, quisquam accusamus placeat illo magnam voluptas expedita a corporis dolorem ipsam facilis velit rem exercitationem commodi aperiam dignissimos odit. Vel, vitae necessitatibus? Modi, nobis?</p>
</div>
<!-- FOOTER -->
<%= render "shared/footer" %>
